# Usual stuff
.vscode

# AOC related files
.aocdlconfig
**/input/**/*.txt
!**/input/**/*.example.txt

# Language artifacts
**/gleam/build
**/node_modules

# Python
__pycache__/
## storing aoc session token here
python/.env.toml
